@font-face {
  font-family: "Colonial";
  src: url("C:/Users/Kaori/Desktop/PI-Countries-main/client/src/extras/fonts/Colonial.ttf");
}
.card {
  display: inline-block;
  width: 350px;
  height: 350px;
  margin-left: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  overflow: hidden;
  font-family: "Colonial";
  font-weight: 200;
  font-size: 23px;
  background-color: rgba(214, 130, 20, 0.678);
  background-size: cover;
  border-radius: 45px;
}
.card:hover {
  transform: scale(1.01);
  box-shadow: 0 5px 10px rgb(20, 7, 7);
}

.image {
  height: 200px;
  width: 350px;
  /* border-radius: 45xp; */
}

.Link {
  color: rgb(20, 7, 7);
  text-decoration: none;
}
